In [1]:
import pandas as pd

In [2]:
# Get list of file names in the folder

from os import listdir
from os.path import isfile, join
usapath = 'C:/Users/jlandesman/Documents/MIDS/209 - Data Visualization/Final Project/zika/United_States/CDC_Report/data'
file_list = [f for f in listdir(usapath) if isfile(join(usapath, f)) and ".csv" in f]
usfiles = [join(usapath,file_list[i]) for i in range(len(file_list))]

print "First 5 files: "
usfiles[0:5]

First 5 files:

['C:/Users/jlandesman/Documents/MIDS/209 - Data Visualization/Final Project/zika/United_States/CDC_Report/data\\CDC_Report-2016-02-24.csv',
 'C:/Users/jlandesman/Documents/MIDS/209 - Data Visualization/Final Project/zika/United_States/CDC_Report/data\\CDC_Report-2016-03-09.csv',
 'C:/Users/jlandesman/Documents/MIDS/209 - Data Visualization/Final Project/zika/United_States/CDC_Report/data\\CDC_Report-2016-03-16.csv',
 'C:/Users/jlandesman/Documents/MIDS/209 - Data Visualization/Final Project/zika/United_States/CDC_Report/data\\CDC_Report-2016-03-23.csv',
 'C:/Users/jlandesman/Documents/MIDS/209 - Data Visualization/Final Project/zika/United_States/CDC_Report/data\\CDC_Report-2016-03-30.csv']

In [3]:
#Read in the data and Concat to a Pandas Data Frame
results = [pd.read_csv(f, parse_dates = ['report_date']) for f in usfiles] # Parse dates for each file individually!
usa = pd.concat(results) #Join into a single DF

#usa.index = usa.report_date # Set Index
usa.country = "USA"

#Look at DF:
usa.head()

,country,data_field,data_field_code,location,location_type,report_date,time_period,time_period_type,unit,value
0,USA,zika_reported_travel,US0001,United_States-Alabama,state,2016-02-24,NaN,NaN,cases,1
1,USA,zika_reported_local,US0002,United_States-Alabama,state,2016-02-24,NaN,NaN,cases,0
2,USA,zika_reported_local,US0002,United_States-American_Samoa,territory,2016-02-24,NaN,NaN,cases,4
3,USA,zika_reported_travel,US0001,United_States-American_Samoa,territory,2016-02-24,NaN,NaN,cases,0
4,USA,zika_reported_travel,US0001,United_States-Arkansas,state,2016-02-24,NaN,NaN,cases,1

In [4]:
# Split Location index to states: 
indicies = pd.unique(usa['location'])
indicies= indicies[pd.notnull(indicies)]
states = [indicies[i].split('-')[1] for i in range(len(indicies))]
states[0:5]

['Alabama', 'American_Samoa', 'Arkansas', 'California', 'Delaware']

In [5]:
#Rejoin to original
merge_df = pd.DataFrame({'state': states, 'location': indicies})
usa = pd.merge(usa,merge_df, how = 'left', on = 'location')

#Look at DF:
usa.head()

,country,data_field,data_field_code,location,location_type,report_date,time_period,time_period_type,unit,value,state
0,USA,zika_reported_travel,US0001,United_States-Alabama,state,2016-02-24,NaN,NaN,cases,1,Alabama
1,USA,zika_reported_local,US0002,United_States-Alabama,state,2016-02-24,NaN,NaN,cases,0,Alabama
2,USA,zika_reported_local,US0002,United_States-American_Samoa,territory,2016-02-24,NaN,NaN,cases,4,American_Samoa
3,USA,zika_reported_travel,US0001,United_States-American_Samoa,territory,2016-02-24,NaN,NaN,cases,0,American_Samoa
4,USA,zika_reported_travel,US0001,United_States-Arkansas,state,2016-02-24,NaN,NaN,cases,1,Arkansas

In [6]:
## Add in Florida

# Get list of ifles
florida_path = 'C:/Users/jlandesman/Documents/MIDS/209 - Data Visualization/Final Project/zika/United_States/FDH_Arbovirus/data'
file_list = [f for f in listdir(florida_path) if isfile(join(florida_path, f)) and ".csv" in f]
florida_files = [join(florida_path,file_list[i]) for i in range(len(file_list))]

# Read in and concatenate to a single DF
results_fl = [pd.read_csv(f, parse_dates = ['report_date']) for f in florida_files] # Parse dates for each file individually!
fl = pd.concat(results_fl) #Join into a single DF

#Rename State and country
fl['country'] = "USA"
fl['state'] = "Florida"
fl.head()

#Rejoin Fl with USA
usa = pd.concat((usa, fl))

#Look at df:
usa[usa.state == 'Florida'].head()

,country,data_field,data_field_code,location,location_type,report_date,state,time_period,time_period_type,unit,value
12,USA,zika_reported_travel,US0001,United_States-Florida,state,2016-02-24,Florida,NaN,NaN,cases,28
13,USA,zika_reported_local,US0002,United_States-Florida,state,2016-02-24,Florida,NaN,NaN,cases,0
70,USA,zika_reported_local,US0002,United_States-Florida,state,2016-03-09,Florida,NaN,NaN,cases,0
71,USA,zika_reported_travel,US0001,United_States-Florida,state,2016-03-09,Florida,NaN,NaN,cases,49
140,USA,zika_reported_travel,US0001,United_States-Florida,state,2016-03-16,Florida,NaN,NaN,cases,59

In [7]:
#Get County data for FL: 
fl_counties = usa[usa.location_type == 'county']
indicies = pd.unique(fl_counties['location'])
indicies= indicies[pd.notnull(indicies)]
counties = [indicies[i].split('-')[2] for i in range(len(indicies))]
counties

#Rejoin to original
merge_df = pd.DataFrame({'county': counties, 'location': indicies})
usa = pd.merge(usa,merge_df, how = 'left', on = 'location')

#View counties
usa[pd.notnull(usa.county)].head()

,country,data_field,data_field_code,location,location_type,report_date,state,time_period,time_period_type,unit,value,county
785,USA,yearly_reported_travel_cases,US0003,United_States-Florida-Alachua_County,county,2016-01-16,Florida,NaN,NaN,cases,0,Alachua_County
786,USA,yearly_reported_travel_cases,US0003,United_States-Florida-Baker_County,county,2016-01-16,Florida,NaN,NaN,cases,0,Baker_County
787,USA,yearly_reported_travel_cases,US0003,United_States-Florida-Bay_County,county,2016-01-16,Florida,NaN,NaN,cases,0,Bay_County
788,USA,yearly_reported_travel_cases,US0003,United_States-Florida-Bradford_County,county,2016-01-16,Florida,NaN,NaN,cases,0,Bradford_County
789,USA,yearly_reported_travel_cases,US0003,United_States-Florida-Brevard_County,county,2016-01-16,Florida,NaN,NaN,cases,0,Brevard_County

In [21]:
from sqlalchemy import *
engine = create_engine('sqlite:///zika.db') # Create the DB, output SQL commands
metadata = MetaData(bind=engine)

usa.to_sql('usa',engine, if_exists='replace')
metadata.create_all()

In [28]:
pd.read_sql_query('select * from usa', engine)

,index,country,data_field,data_field_code,location,location_type,report_date,state,time_period,time_period_type,unit,value,county
0,0,USA,zika_reported_travel,US0001,United_States-Alabama,state,2016-02-24 00:00:00.000000,Alabama,None,None,cases,1,None
1,1,USA,zika_reported_local,US0002,United_States-Alabama,state,2016-02-24 00:00:00.000000,Alabama,None,None,cases,0,None
2,2,USA,zika_reported_local,US0002,United_States-American_Samoa,territory,2016-02-24 00:00:00.000000,American_Samoa,None,None,cases,4,None
3,3,USA,zika_reported_travel,US0001,United_States-American_Samoa,territory,2016-02-24 00:00:00.000000,American_Samoa,None,None,cases,0,None
4,4,USA,zika_reported_travel,US0001,United_States-Arkansas,state,2016-02-24 00:00:00.000000,Arkansas,None,None,cases,1,None
5,5,USA,zika_reported_local,US0002,United_States-Arkansas,state,2016-02-24 00:00:00.000000,Arkansas,None,None,cases,0,None
6,6,USA,zika_reported_local,US0002,United_States-California,state,2016-02-24 00:00:00.000000,California,None,None,cases,0,None
7,7,USA,zika_reported_travel,US0001,United_States-California,state,2016-02-24 00:00:00.000000,California,None,None,cases,6,None
8,8,USA,zika_reported_local,US0002,United_States-Delaware,state,2016-02-24 00:00:00.000000,Delaware,None,None,cases,0,None
9,9,USA,zika_reported_travel,US0001,United_States-Delaware,state,2016-02-24 00:00:00.000000,Delaware,None,None,cases,1,None
10,10,USA,zika_reported_local,US0002,United_States-District_of_Columbia,state,2016-02-24 00:00:00.000000,District_of_Columbia,None,None,cases,0,None
11,11,USA,zika_reported_travel,US0001,United_States-District_of_Columbia,state,2016-02-24 00:00:00.000000,District_of_Columbia,None,None,cases,3,None
12,12,USA,zika_reported_travel,US0001,United_States-Florida,state,2016-02-24 00:00:00.000000,Florida,None,None,cases,28,None
13,13,USA,zika_reported_local,US0002,United_States-Florida,state,2016-02-24 00:00:00.000000,Florida,None,None,cases,0,None
14,14,USA,zika_reported_local,US0002,United_States-Georgia,state,2016-02-24 00:00:00.000000,Georgia,None,None,cases,0,None
15,15,USA,zika_reported_travel,US0001,United_States-Georgia,state,2016-02-24 00:00:00.000000,Georgia,None,None,cases,1,None
16,16,USA,zika_reported_local,US0002,United_States-Hawaii,state,2016-02-24 00:00:00.000000,Hawaii,None,None,cases,0,None
17,17,USA,zika_reported_travel,US0001,United_States-Hawaii,state,2016-02-24 00:00:00.000000,Hawaii,None,None,cases,4,None
18,18,USA,zika_reported_local,US0002,United_States-Illinois,state,2016-02-24 00:00:00.000000,Illinois,None,None,cases,0,None
19,19,USA,zika_reported_travel,US0001,United_States-Illinois,state,2016-02-24 00:00:00.000000,Illinois,None,None,cases,4,None
20,20,USA,zika_reported_travel,US0001,United_States-Indiana,state,2016-02-24 00:00:00.000000,Indiana,None,None,cases,1,None
21,21,USA,zika_reported_local,US0002,United_States-Indiana,state,2016-02-24 00:00:00.000000,Indiana,None,None,cases,0,None
22,22,USA,zika_reported_local,US0002,United_States-Iowa,state,2016-02-24 00:00:00.000000,Iowa,None,None,cases,0,None
23,23,USA,zika_reported_travel,US0001,United_States-Iowa,state,2016-02-24 00:00:00.000000,Iowa,None,None,cases,1,None
24,24,USA,zika_reported_local,US0002,United_States-Louisiana,state,2016-02-24 00:00:00.000000,Louisiana,None,None,cases,0,None
25,25,USA,zika_reported_travel,US0001,United_States-Louisiana,state,2016-02-24 00:00:00.000000,Louisiana,None,None,cases,1,None
26,26,USA,zika_reported_local,US0002,United_States-Maryland,state,2016-02-24 00:00:00.000000,Maryland,None,None,cases,0,None
27,27,USA,zika_reported_travel,US0001,United_States-Maryland,state,2016-02-24 00:00:00.000000,Maryland,None,None,cases,3,None
28,28,USA,zika_reported_travel,US0001,United_States-Massachusetts,state,2016-02-24 00:00:00.000000,Massachusetts,None,None,cases,2,None
29,29,USA,zika_reported_local,US0002,United_States-Massachusetts,state,2016-02-24 00:00:00.000000,Massachusetts,None,None,cases,0,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1789,1789,USA,yearly_reported_travel_cases,US0003,United_States-Florida-Madison_County,county,2016-04-23 00:00:00.000000,Florida,None,None,cases,0,Madison_County
1790,1790,USA,yearly_reported_travel_cases,US0003,United_States-Florida-Manatee_County,county,2016-04-23 00:00:00.000000,Florida,None,None,cases,0,Manatee_County
1791,1791,USA,yearly_reported_travel_cases,US0003,United_States-Florida-Marion_County,county,2016-04-23 00:00:00.000000,Florida,None,None,cases,0,Marion_County
1792,1792,USA,yearly_reported_travel_cases,US0003,United_States-Florida-Martin_County,county,2016-04-23 00:00:00.000000,Florida,None,None,cases,0,Martin_County
1793,1793,USA,yearly_reported_travel_cases,US0003,United_States-Florida-Miami-Dade_County,county,2016-04-23 00:00:00.000000,Florida,None,None,cases,39,Miami
1794,1794,USA,yearly_reported_travel_cases,US0003,United_States-Florida-Monroe_County,county,2016-04-23 00:00:00.000000,Florida,None,None,cases,0,Monroe_County
1795,1795,USA,yearly_reported_travel_cases,US0003,United_States-Florida-Nassau_County,county,2016-04-23 00:00:00.000000,Florida,None,None,cases,0,Nassau_County
1796,1796,USA,yearly_reported_travel_cases,US0003,United_States-Florida-Not_Reported,county,2016-04-23 00:00:00.000000,Florida,None,None,cases,5,Not_Reported
1797,1797,USA,yearly_reported_travel_cases,US0003,United_States-Florida-Okaloosa_County,county,2016-04-23 00:00:00.000000,Florida,None,None,cases,0,Okaloosa_County
1798,1798,USA,yearly_reported_travel_cases,US0003,United_States-Florida-Okeechobee_County,county,2016-04-23 00:00:00.000000,Florida,None,None,cases,0,Okeechobee_County
1799,1799,USA,yearly_reported_travel_cases,US0003,United_States-Florida-Orange_County,county,2016-04-23 00:00:00.000000,Florida,None,None,cases,5,Orange_County
1800,1800,USA,yearly_reported_travel_cases,US0003,United_States-Florida-Osceola_County,county,2016-04-23 00:00:00.000000,Florida,None,None,cases,4,Osceola_County
1801,1801,USA,yearly_reported_travel_cases,US0003,United_States-Florida-PalmBeach_County,county,2016-04-23 00:00:00.000000,Florida,None,None,cases,5,PalmBeach_County
1802,1802,USA,yearly_reported_travel_cases,US0003,United_States-Florida-Pasco_County,county,2016-04-23 00:00:00.000000,Florida,None,None,cases,0,Pasco_County
1803,1803,USA,yearly_reported_travel_cases,US0003,United_States-Florida-Pinellas_County,county,2016-04-23 00:00:00.000000,Florida,None,None,cases,0,Pinellas_County
1804,1804,USA,yearly_reported_travel_cases,US0003,United_States-Florida-Polk_County,county,2016-04-23 00:00:00.000000,Florida,None,None,cases,3,Polk_County
1805,1805,USA,yearly_reported_travel_cases,US0003,United_States-Florida-Putnam_County,county,2016-04-23 00:00:00.000000,Florida,None,None,cases,0,Putnam_County
1806,1806,USA,yearly_reported_travel_cases,US0003,United_States-Florida-SantaRosa_County,county,2016-04-23 00:00:00.000000,Florida,None,None,cases,1,SantaRosa_County
1807,1807,USA,yearly_reported_travel_cases,US0003,United_States-Florida-Sarasota_County,county,2016-04-23 00:00:00.000000,Florida,None,None,cases,0,Sarasota_County
1808,1808,USA,yearly_reported_travel_cases,US0003,United_States-Florida-Seminole_County,county,2016-04-23 00:00:00.000000,Florida,None,None,cases,1,Seminole_County
1809,1809,USA,yearly_reported_travel_cases,US0003,United_States-Florida-StJohns_County,county,2016-04-23 00:00:00.000000,Florida,None,None,cases,1,StJohns_County
1810,1810,USA,yearly_reported_travel_cases,US0003,United_States-Florida-StLucie_County,county,2016-04-23 00:00:00.000000,Florida,None,None,cases,0,StLucie_County
1811,1811,USA,yearly_reported_travel_cases,US0003,United_States-Florida-Sumter_County,county,2016-04-23 00:00:00.000000,Florida,None,None,cases,0,Sumter_County
1812,1812,USA,yearly_reported_travel_cases,US0003,United_States-Florida-Suwannee_County,county,2016-04-23 00:00:00.000000,Florida,None,None,cases,0,Suwannee_County
1813,1813,USA,yearly_reported_travel_cases,US0003,United_States-Florida-Taylor_County,county,2016-04-23 00:00:00.000000,Florida,None,None,cases,0,Taylor_County
1814,1814,USA,yearly_reported_travel_cases,US0003,United_States-Florida-Union_County,county,2016-04-23 00:00:00.000000,Florida,None,None,cases,0,Union_County
1815,1815,USA,yearly_reported_travel_cases,US0003,United_States-Florida-Volusia_County,county,2016-04-23 00:00:00.000000,Florida,None,None,cases,0,Volusia_County
1816,1816,USA,yearly_reported_travel_cases,US0003,United_States-Florida-Wakulla_County,county,2016-04-23 00:00:00.000000,Florida,None,None,cases,0,Wakulla_County
1817,1817,USA,yearly_reported_travel_cases,US0003,United_States-Florida-Walton_County,county,2016-04-23 00:00:00.000000,Florida,None,None,cases,0,Walton_County
1818,1818,USA,yearly_reported_travel_cases,US0003,United_States-Florida-Washington_County,county,2016-04-23 00:00:00.000000,Florida,None,None,cases,0,Washington_County